<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Edit Chat Message</title>
</head>
<body>
    <h1>Edit Chat Message</h1>
    <form action="/Chats/Edit/<%= chat._id %>" method="post">
        <label for="from">From:&nbsp;<%=chat.from %></label><br>
        <label for="to">To:&nbsp;<%=chat.to %></label><br><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required><%= chat.message %></textarea><br><br>
        <button type="submit">Update Message</button>
    </form>
</body>
</html>